<div class="container">
  <div class="row justify-center py-4">
    <div class="card text-dark bg-light p-0">
      <div class="card-header"><strong>Hi <%= current_user.name %>!</strong></div>
      <div class="card-body">
        <h5 class="card-title">Profile Stats</h5>
        <p class="card-text">
        <strong>Posts Count# <%= current_user.posts.count %></strong>
        </p>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>