<div class="container">
  <div class="row justify-center py-4">
    <div class="card text-dark bg-light p-0">
      <div class="card-header"><strong>Trends</strong></div>
      <div class="card-body">
        <p class="card-text">
        <ul class="list-unstyled">
          <li>
            #nerd_market
          </li>
          <li>
            #nerd_book
          </li>
        </ul>
        </p>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>