<div class="container">
  <div class="row justify-center py-4">
    <div class="card text-dark bg-light p-0">
      <div class="card-header">Trends</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer">Footer</div>
    </div>
  </div>
</div>