  
  <nav class="navbar sticky-top navbar-expand-lg px-3 justify-content-between navbar-dark bg-dark">
    <div><%= link_to 'le-Club', root_path, class: 'navbar-brand' %><span class='text-muted'>(Nerds Only)</span></div>
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Posts', posts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'New_Post', new_post_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>