<div class="container-fluid px-5">
  <div class="row justify-content-center">
    <%= show_profile_stats %>
    <div class="col-6">
      <%= render 'posts/feed' %>
    </div>
    <%= show_trends %>
  </div>
</div>