<div class="container-fluid px-5">
  <div class="row">

    <div class="col-3">
      <%= render 'shared/temp/profile' %>
    </div>
    
    <div class="col-6">
      <%= render 'posts/feed' %>
    </div>

    <div class="col-3">
      <%= render 'shared/temp/trends' %>
    </div>

  </div>
</div>