<div class="container-fluid px-5">
  <div class="row justify-content-center">
    <% if user_signed_in? %>
    <div class="col-3">
      <%= render 'shared/temp/profile' %>
    </div>
    <% end %>
    <div class="col-6">
      <%= render 'posts/feed' %>
    </div>
    <% if user_signed_in? %>
    <div class="col-3">
      <%= render 'shared/temp/trends' %>
    </div>
    <% end %>

  </div>
</div>